<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McLiquid-Carr</title>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
      }

      .header {
        background-color: #f8f8f8;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #f0c040;
        gap: 2em;
      }
      .header .logo {
        font-size: 24px;
        font-weight: bold;
        color: #2e7d32;
      }
      .header .search {
        flex-grow: 1;
      }
      .header .search input {
        width: 100%;
        padding: 5px;
        font-size: 16px;
      }
      .header .links {
        display: flex;
        gap: 15px;
      }
      .cart-links {
        display: flex;
        gap: 1rem;
      }
      .cart-links a {
        text-decoration: none;
        color: #2e7d32;
        text-transform: uppercase;
        font-weight: bold;
      }
      .cart-links a:hover {
        text-decoration: underline;
      }
      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .container {
        display: flex;
        flex-grow: 1;
        overflow-y: hidden;
      }
      .sidebar {
        width: 250px;
        background-color: #f0f0f0;
        border-right: 1px solid #ddd;
        height: 100%;
        flex-shrink: 0;
      }

      .main-content {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
      }
      .main-content h2 {
        margin-top: 0;
      }
      .main-content .items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
      .main-content .item {
        width: 100px;
        text-align: center;
      }
      .main-content .item img {
        width: 100%;
        height: auto;
      }
      .footer {
        background-color: #f8f8f8;
        padding: 10px;
        text-align: center;
        border-top: 1px solid black;
      }
      .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      .sidebar ul li a {
        text-decoration: none;
        color: #333; /* Dark gray color */
        font-size: 0.8rem;
        transition: color 0.3s ease;
      }
      .sidebar ul li a:hover {
        color: #2e7d32; /* Green color on hover */
      }

      .categories-header {
        font-size: 1rem;
        font-weight: normal;
        margin: 0;
        position: sticky;
        top: 0;
        border-bottom: 1px solid black;
        padding: 0.5rem;
        color: black;
      }

      .categories {
        height: 100%;
        overflow-y: auto;
        padding: 0.5rem;
      }
    </style>
    {{ content_for_header }}
  </head>
  <body data-instant-mousedown-shortcut>
    <nav class="header">
      <div class="logo"><a href="/" style="text-decoration: none; color: #2e7d32">McLiquid-Carr</a></div>
      <div class="search">
        <form method="get" action="{{ routes.search_url }}">
          <input
            type="text"
            placeholder="Search"
            name="q"
            value="{{ search.terms | escape }}"
          >
        </form>
      </div>
      <div class="cart-links">
        <a href="/cart"
          >Order (<span id="cart-item-count">{{ cart.items.size }}</span>)</a
        >
        <a href="#">Order History</a>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <h3 class="categories-header">Choose a Category</h3>
        <div class="categories">
          <ul>
            {% for child in shop.metaobjects.category_metaobject.hardware.children_categories.value %}
              <li>
                <a href="{{ child.system.url }}">{{ child.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="main-content">
        {{ content_for_layout }}
      </div>
    </div>
    <div class="footer">
      <p>Home | Location | Returns | Careers | Mobile App | Solidworks Add-In | Help | Settings</p>
    </div>
    <script src="{{ 'instant.page.js' | asset_url }}" type="module" async defer></script>
  </body>
</html>
