<style>
  .card {
    display: flex;
    gap: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: black;
  }
  .card:hover {
    background-color: lightgrey;
  }
  .card:hover .card__title {
    text-decoration: underline;
  }
  .card__image {
  }
  .card__content {
    flex: 2;
  }
  .card__title {
    font-size: 1rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1280px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1536px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .section-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>

<div class="section-title">
  <h1>
    {%- assign title_parts = section.blocks.first.settings.title | split: ' > ' -%}
    {%- assign title_parts_count = title_parts | size -%}
    {%- for part in title_parts -%}
      {%- if forloop.index < title_parts_count -%}
        {{ part -}}
        {%- unless forloop.last %} > {% endunless %}
      {%- endif -%}
    {%- endfor -%}
  </h1>
</div>

<div class="grid">
  {%- for block in section.blocks -%}
    <a href="{{ block.settings.link }}" class="card">
      <div class="card__image">
        <img
          width="100px"
          height="100px"
          src="{{ block.settings.image | img_url: 'master' }}"
          alt="{{ block.settings.title | split: ' > ' | last }}"
        >
      </div>
      <div class="card__content">
        <div class="card__title">{{ block.settings.title | split: ' > ' | last }}</div>
        <div class="card__description">{{ block.settings.description }}</div>
      </div>
    </a>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Multicolumn",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "description text"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "link label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link url"
        }
      ]
    }
  ]
}
{% endschema %}
