<div class="cart-container">
  <h1 class="section-title">Cart</h1>
  <div>
    {% if cart.item_count == 0 %}
      <div class="alertbox">
        <div class="alertcontent">
          <strong>Your shopping cart is empty</strong>

          <p>Note that this can happen if you disabled cookies in your browser</p>
          <p>We strongly recommends to enable cookies. Many webpages need them to work properly.</p>

          <p>{{ 'Back to frontpage' | link_to: '/' }}</p>
        </div>
      </div>

    {% else %}
      <form class="cart-form" action="/cart" id="cart" method="post">
        <table id="shoppingcart" cellspacing="0" cellpadding="4" style="clear:right">
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Extension</th>
            <th>&nbsp;</th>
          </tr>

          {% for item in cart.items %}
            <tr class="itemrow">
              <td>
                {{ product.featured_image | asset_img_url: 'pico' | img_tag }}
                {{ item.product.vendor }}: {{ item.title }}
              </td>
              <td align="right">{{ item.price | money }}</td>
              <td>
                <input
                  type="text"
                  size="4"
                  name="updates[]"
                  id="updates_{{item.id}}"
                  value="{{item.quantity}}"
                  onfocus="this.select();"
                >
              </td>

              <td align="right">{{ item.line_price | money }}</td>
              <td><a href="#" onclick="remove_item({{item.id}});" class="remove">remove</a></td>
            </tr>
          {% endfor %}

          <tr id="subtotal">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td align="right">Subtotal:</td>
            <td align="right">{{ cart.total_price | money }}</td>
            <td>
              <span class="currency">{{ shop.currency }}</span>
            </td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
              {% comment %}<input type="image" src="{{'b_checkout.gif'| asset_url}}" name="checkout" value="Checkout" />{% endcomment %}
            </td>
            <td><input type="image" src="{{'b_update.gif'| asset_url}}" value="Update Cart"></td>
          </tr>
        </table>

        <div class="checkout-buttons">
          <div>{{ content_for_additional_checkout_buttons }}</div>
          <br>
          <input type="image" value="Checkout!" name="checkout" src="{{ 'b_proceed.gif' | asset_url }}">
        </div>
      </form>
    {% endif %}

    <ul>
      <li><strong>This store is only for demonstration purposes. No items will be shipped</strong></li>
    </ul>
  </div>
</div>

{% style %}
  .cart-container {
    padding: 0 1rem;
  }
  .section-title {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 0.5rem;
  }
  .cart-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  #shoppingcart {
    flex: 1;
  }
  .checkout-buttons {
    flex-shrink: 0;
  }
{% endstyle %}
